



.main-display-user-profile{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.display-user-profile{
    width: 70%;
    height: 90%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);  
}


.profileandname{
    margin: 1rem;
    display: flex;
    width: 90%;
    height: 200px;
    justify-content: space-between;
    
}


.profile-image{
    height: 95%;
    width: 30%;
    margin: 0.3rem;
}


.name-main{
    height: 95%;
    width: 60%;
    margin: 0.3rem;
}


.user-about-info{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-about-info p{
    font-size: 0.8rem;
    font-weight: bold;
    margin: 0px;
}
.user-about-info button{
    margin: 0.3rem;
    width: 50%;
    padding: 0.3rem;
    font-size: 0.9rem;
    border-radius: 10px;
    font-weight: bolder;
    border: none;
    background-color: rgb(63, 232, 63);
    cursor: pointer;
}

.main-post-user{
    margin: 1rem;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.main-post-block{
    width: 25%;
    margin: 1rem;
    height: 200px;
    border: 1px solid black;
    cursor: pointer;

}



@media(max-width:600px){
    .profileandname{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 300px;
    }

    .display-user-profile{
        width: 100%;
    }
    .profile-image{
        height: 30%;
        width: 50%;
        border: 1px solid black;
    }
    .name-main{
        height: 70%;
        width: 90%;
        border: 1px solid  green;
    }

    .main-post-user{
        width: 90%;
        height: auto;
    }

    .main-post-block{
        width: 90%;
        margin: 0.3rem;
        height: 500px;

    }

}


